//common
$bg-color: #ffffff;
$button_bg: #e84545;
$color-link: #ffffff;
$color-white: #ffffff;
$color-gray: #c6cacc;
$primary-font: 'Raleway', sans-serif;

//intro
$intro_grad: #2b2e4a;
$title-font: 'Open Sans', sans-serif;

//slider
$slides: 5;
$bg-slide: #53354a;
$slide-font: 'Cardo', serif;

$bg-footer: #3a3e64;
$bg-copyright: #313454;

$iPad:  850px;
$iPhone: 376px;